*{
    box-sizing: border-box;
}

.calc-grid{
  display: grid;
  grid-template-columns: repeat(4,6rem);
  grid-template-rows:minmax(7rem,auto) repeat(5,6rem) ;
}

.calc-grid>button{
   cursor: pointer;
   font-size: 2rem;
  }

.output{
    background-color: black;
    color: white;
    height: 5%;
    width: 30%;
}

.SpanTwo{
    grid-column-start: 1;
    grid-column-end: 3;
}
.equalspan{
    grid-column-start: span 2;
}

body{
    
    margin: 0;
    background-color: blueviolet;

}